/* Enter your custom styles here */
.Cube {
    text-align: center;
    background-color: rgb(from color r g b)
}

#token {
    text-align: center;
    font-size: large;
}
.big{
font-size:45px;
}
Label #l1 {
    font-weight: bold;
}